.header {
  background: linear-gradient(
    135deg,
    rgba(153, 151, 255, 1) 0%,
    rgba(89, 86, 231, 1) 100%
  );
  height: 100px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 35px;
}

.logo p {
  margin-top: 45px;
}

.text {
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #8ffb68;
}
