@font-face {
  font-family: "Roboto";
  src: url(/src/fonts/Roboto-Regular.ttf);
}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  margin: 0;
  padding: 0;
  width: 1200px;
  margin: 0px auto;
  font-size: 1.5em;
}

.conteiner {
  width: 1200px;
  margin: 0px auto;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
